---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "My Portfolio | Daniel Tovar | Gutrila";
const description = "Welcome to My Portfolio! Get to know me.";
const ogimage ={
    url: "/images/blogimage.png",
    alt: "Gutrila's logo with background and light effect. Text: 'My Portfolio' and URL 'gutrila-dftb.github.io'."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
